@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --w-h: 0px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    height: var(--w-h);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 1;
    pointer-events: all;
    z-index: 999;
    animation: hide 1s both 4s  ;
}

@keyframes hide {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

.splash::before {
    position: absolute;
    top: -20%;
    left: -20%;
    transform: rotate(165.00deg);
    content: '';
    background: linear-gradient(0.00deg, rgb(14, 112, 36) -207.097%, rgba(14, 112, 36, 0) 100%);
    width: 140%;
    height: 50%;
    animation: top-left-showing 1s both;
    opacity: 1;
    z-index: 999;
}

.splash::after {
    position: absolute;
    bottom: -20%;
    right: -20%;
    transform: rotate(-20deg);
    content: '';
    background: linear-gradient(0.00deg, rgb(14, 112, 36) -207.097%, rgba(14, 112, 36, 0) 100%);
    width: 150%;
    height: 50%;
    animation: bottom-right-showing 1s both;
    opacity: 1;
    z-index: 999;
}

.splash .brand .logo {
    fill: #fff;
    animation: logo 1.5s both 1s;
    opacity: 1;
    fill: rgb(255, 255, 255);
    transform: scale(1.25);
    width: 100%;
}

@keyframes logo {
    from {
        transform: scale(1.35);
        opacity: 0;
        fill: rgb(0, 255, 0);
    }

    to {
        transform: scale(1.25);
        opacity: 1;
        fill: rgb(255, 255, 255);
    }
}

@keyframes top-left-showing {
    from {
        top: -100%;
        left: -100%;
        transform: rotate(165.00deg);
        opacity: 0;
    }

    to {
        top: -20%;
        left: -20%;
        transform: rotate(165.00deg);
        opacity: 1;
    }
}

@keyframes bottom-right-showing {
    from {
        bottom: -100%;
        right: -100%;
        transform: rotate(-20deg);
        opacity: 0;
    }

    to {
        bottom: -20%;
        right: -20%;
        transform: rotate(-20deg);
        opacity: 1;
    }
}