.track {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #131313;
    height: var(--w-h);
    padding: 0 28px;
    padding-bottom: 50px;
}

::-webkit-scrollbar {
    display: none;
}

.track::before {
    position: absolute;
    top: -20%;
    left: -20%;
    transform: rotate(165.00deg);
    content: '';
    background: linear-gradient(0.00deg, rgb(14, 112, 36) -207.097%, rgba(14, 112, 36, 0) 100%);
    width: 140%;
    height: 70%;
    opacity: 1;
}

.track .header {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 35px;
    gap: 20px;
}

.track .chevron-down {
    display: flex;
    align-items: center;
    justify-content: center;
}

.track .header .reject-album {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.track .header .descr {
    font-size: 12px;
    font-weight: 100;
}

.reject-album .album-title {
    font-weight: bold;
    font-size: 19px;
    text-align: center;
}



.player-pic-container {
    position: relative;
    margin-top: 66px;
    height: var(--i-h);
}

.player-pic-container .player-pic {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    z-index: 2;
    border-radius: 30px;
}

.player-pic-container .backdrop {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    filter: blur(1000px);
    height: 262px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.backdrop {
    object-fit: cover;
    object-position: center;
    width: 337px;
    height: 262px;
}

.song-details {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.song-name {
    font-size: 28px;
    margin-top: 35px;
    color: #fff;
}

.song-creator {
    color: #7b7b7b;
    font-weight: 300;
    margin-top: 3px;
}

.timing {
    margin-top: 45px;
}

.song-seek-bar {
    -webkit-appearance: none;
    margin-top: 45px;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #d9d9d9;
    overflow: hidden;
    cursor: pointer;
}

.song-seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    box-shadow: -400px 0 0 400px #fff;
    border-radius: 10px;
    background: #fff;
}

.timing {
    display: flex;
    margin-top: 13px;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.play-pause-button {
    width: 69px;
    height: 69px;
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.playPauseIcon {
    display: block;
    height: 25px;
    width: 25px;
    fill: #000;
    stroke: #000;
    stroke-width: 4;
    stroke-linejoin: round;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 0px;
}